* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Alien Font";
  src: url("../fonts/Alien_Hieroglyph.ttf");
}

:root {
  font-size: 1em;
  font-family: Lato, "Lucida Grande", Tahoma, Sans-Serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background: url("https://static.tweaktown.com/news/6/8/68872_03_even-rick-morty-uses-amd-cpu-128-bit_full.png")
    fixed no-repeat;
  background-size: cover;
}

.layout-container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.person-sidebar {
  position: fixed;
  margin: 0;
  width: 25%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.8);
}

.person-wrapper {
  margin: 0 auto;
  display: flex;
  max-width: 75%;
  flex-direction: column;
  align-items: center;
}

.person-wrapper > img {
  width: 100%;
  height: auto;
}

.fa-radar {
  color: red;
  animation: spin infinite 1500ms linear;
}

#add-to-radar-btn {
  cursor: pointer;
}

#add-to-radar-btn:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

.person-wrapper > span {
  padding: 0.375em;
  align-self: flex-start;
}

.powered-by {
  margin: auto 0 0;
  padding: 1.25em;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 75%;
}

.powered-by > .icon-container {
  display: flex;
}

.powered-by > .icon-container > img {
  margin: 0.625em 0.625em 0;
  width: auto;
  height: 3.125em;
}

.powered-by > .icon-container > img:hover {
  cursor: pointer;
  transform: scale3d(1.05, 1.05, 1.05);
}

.powered-by > code {
  display: block;
  margin: 0.625em 0;
}

.page-container {
  margin: 0 0 0 25%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
}

.page-container > h1,
h2 {
  text-align: center;
}

.load-radar {
  font-family: "Alien Font";
}

.load-radar:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  cursor: pointer;
}

.page-title {
  font-family: "Alien Font", "Courier New", Courier, monospace;
  font-size: 2em;
  text-align: center;
}

.search-container {
  margin: 2.375em 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-bar {
  margin: 0 auto;
  display: flex;
  width: 90%;
  justify-content: center;
}

.search-bar > input {
  margin: 0;
  height: 2.1875em;
  width: 100%;
  max-width: 18.75em;
  background: transparent;
  border: solid 0.0625em #000;
  outline: none;
}

.search-bar > button {
  margin: 0;
  padding: 0 1.25em;
  height: 2.1875em;
  background: transparent;
  border: solid 0.0625em #000;
  outline: none;
}

.being-card-container {
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin: 0 0.0125em 1.25em;
  width: 23%;
  min-width: 11.25em;
  display: flex;
  flex-direction: column;
  border: solid 0.0625em #000;
  background: rgba(255, 255, 255, 0.75);
}

.card:hover {
  cursor: pointer;
  transform: scale3d(1.025, 1.025, 1.025);
  box-shadow: rgb(0 0 0 / 10%) 0 0.25em 1.25em -0.125em;
}

.card > img {
  min-width: 100%;
  height: auto;
}

.card > span {
  margin: 0.375em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 54.375em) {
  .layout-container {
    flex-direction: column;
  }
  .person-sidebar {
    position: static;
    width: 100%;
    min-height: auto;
  }
  .powered-by {
    width: auto;
    margin: 0 auto;
    width: 100%;
    padding: 0.375em;
    max-width: 18.75em;
  }
  .page-container {
    margin: auto;
    width: 100%;
  }
}
